// :default padding and margin
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// center Items

@mixin flex-alignment-center($direction, $justify, $alignment) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignment;
}

$font-stack: "Montserrat", sans-serif;

// color Gradient
$background-gradient: linear-gradient(
  130deg,
  hsl(236, 72%, 79%),
  hsl(237, 63%, 64%)
);
