@import "./config";

body {
  font-family: $font-stack;
  height: 100vh;
  min-width: 375px;
  margin: 64.9px 0px;
  background-color: rgba(223, 223, 238, 0.651);
  @include flex-alignment-center(column, none, center);
  main {
    width: 328.9px;
    height: 1616.5px;
    @include flex-alignment-center(column, none, center);
    header {
      font-size: 1rem;
      margin-bottom: 30.7px;
      color: grey;
    }
    .period-toggle {
      height: 60px;
      width: 256.5px;
      margin-bottom: 74.8px;
      color: grey;
      @include flex-alignment-center(row, space-between, center);
      .switch {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 32px;
        background: $background-gradient;
        border-radius: 20px;
        transition: all 0.3s;
        @include flex-alignment-center(row, none, center);
      }

      .switch:after {
        content: "";
        // position: absolute;
        margin-left: 55%;
        width: 24px;
        height: 24px;
        border-radius: 18px;
        background-color: white;
        top: 1px;
        left: 1px;
        transition: all 0.3s;
      }

      input[type="checkbox"]:checked + .switch:after {
        transform: translateX(-30px);
      }

      input[type="checkbox"]:checked + .switch {
        background-color: #7983ff;
      }

      .offscreen {
        position: absolute;
        left: -999999px;
      }
    }
    .pricing-cards {
      width: 328.9px;
      gap: 29px;
      @include flex-alignment-center(column, none, center);
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: 3rem;
        margin: 30.6px 0px;
      }
      hr {
        width: 275px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(202, 202, 202, 0.363),
          rgba(202, 202, 202, 0.363),
          rgba(202, 202, 202, 0.363)
        );
      }
      h4 {
        font-size: 0.8rem;
        margin: 21px 0px;
      }
      .white-text {
        color: whitesmoke;
      }
      .basic-card,
      .professional-card,
      .master-card {
        transition: all 2s;
        padding: 37.9px 0px 0px 0px;
        height: 455.9px;
        width: 100%;
        // border: solid black 1px;
        border-radius: 10px;
        background-color: white;
        @include flex-alignment-center(column, none, center);
      }

      .professional-card {
        background: $background-gradient;
      }

      button {
        height: 2.813rem;
        width: 16.75rem;
        margin: 25px;
        border: none;
        border-radius: 5px;
        color: white;
        background: $background-gradient;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 1px;
      }
      .lighter-color {
        background: white;
        color: hsl(237, 63%, 64%);
      }
      button:hover {
        background: white;
        color: hsl(237, 69, 75);
        border: solid hsl(237, 69, 75) 1px;
      }
      .lighter-color:hover {
        background: hsl(237, 69, 75);
        color: white;
        border: solid white 1px;
      }
    }
    .attribution {
      font-size: 0.5rem;
      letter-spacing: 7px;
      margin-top: 5px;
    }
  }
}

@media screen and (min-width: 780px) {
  body {
    margin: unset;
    width: 100vw;
    height: 850px;
    background-image: url(/src/images/bg-top.svg);
    background-position: top;
    background-position-x: 110%;
    background-repeat: no-repeat;
    background-size: 85vh;
    @include flex-alignment-center(column, center, center);
    main {
      width: 1055px;
      height: 669px;
      @include flex-alignment-center(column, center, none);
      .pricing-cards {
        transition: all 2s;
        width: 1055px;
        height: 498px;
        gap: 29px;
        @include flex-alignment-center(row, center, center);
        .basic-card,
        .master-card {
          transition: all 2s;
          height: 457px;
        }
        .professional-card {
          background-color: hsl(237, 69, 75);
          height: 100%;
          padding-top: 58.8px;
        }
      }
    }
  }
}
